@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("assets/font/open-sans-v15-latin-300.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("assets/font/open-sans-v15-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("assets/font/open-sans-v15-latin-300.woff2") format("woff2"),
    url("assets/font/open-sans-v15-latin-300.woff") format("woff"),
    url("assets/font/open-sans-v15-latin-300.ttf") format("truetype"),
    url("assets/font/open-sans-v15-latin-300.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("assets/font/open-sans-v15-latin-700.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("assets/font/open-sans-v15-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("assets/font/open-sans-v15-latin-700.woff2") format("woff2"),
    url("assets/font/open-sans-v15-latin-700.woff") format("woff"),
    url("assets/font/open-sans-v15-latin-700.ttf") format("truetype"),
    url("assets/font/open-sans-v15-latin-700.svg#OpenSans") format("svg");
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

div {
  display: flex;
  word-wrap: anywhere;
  color: #131313;
}

h3 {
  letter-spacing: 0.1rem;
  /* font-size: 1.4rem; */
}

p {
  font-size: 1.2rem;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}
